{% extends 'base_main.html' %}

{% load static %}

{% block title %}
    {{ block.super }}
    我的
{% endblock %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/main/mine/css/mine.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="mine">
        <div class="fixed">
{#            头像#}
            {% if user_id %}
                 <span>
                    <img src="/static/upload/{{ user.u_icon }}" alt="">
                </span>
                {% else %}
                     <span class="glyphicon glyphicon-user"></span>
            {% endif %}
            <p>
                    <a href="{% url 'axfuser:login' %}" style="color: white">{{ msg }}{{ user.u_name }}</a>
            </p>

            <p>
                <span class="glyphicon glyphicon-fire"></span>

                <span>
                    等级
                </span>
            </p>
            <p>
                <a href="" style="color: white">
                    <span class="glyphicon glyphicon-heart"></span>
                    商品收藏
                </a>
            </p>


        </div>
        <a href="{% url 'axfuser:register' %}" id="regis">注册</a>

    <div class="mine">
        <p>
            <span>全部订单</span>
            <a href="">全部订单></a>
        </p>
        <div id="nav">
        <ul>
            <li >
                <dl>
                    <dt>
                        <span>
                            <a href="" class="glyphicon glyphicon-usd"><p>待付款</p></a>
                        </span>
                    </dt>
                </dl>
            </li>
            <li >
                <dl>
                    <dt>
                        <span>
                            <a href="" class="glyphicon glyphicon-envelope"><p>待收货</p></a>
                        </span>
                    </dt>
                </dl>
            </li>
            <li >
                <dl>
                    <dt>
                        <span>
                            <a href="" class="glyphicon glyphicon-pencil"><p>待评价</p></a>
                        </span>
                    </dt>
                </dl>
            </li>
            <li >
                <dl>
                    <dt>
                        <span>
                            <a href="" class="glyphicon glyphicon-retweet"><p>退款/售后</p></a>
                        </span>
                    </dt>
                </dl>
            </li>
        </ul>
        </div>


        <menu>
            <ul>
            <li >
                <dl>
                    <dt>
                        <span>
                            <a href="" class="glyphicon glyphicon-bullhorn"><p>积分商城</p></a>
                        </span>
                    </dt>
                </dl>
            </li>
                <li >
                <dl>
                    <dt>
                        <span>
                            <a href="" class="glyphicon glyphicon-gift"><p>优惠券</p></a>
                        </span>
                    </dt>
                </dl>
            </li>
                <li >
                <dl>
                    <dt>
                        <span>
                            <a href="" class="glyphicon glyphicon-flag"><p>收货地址</p></a>
                        </span>
                    </dt>
                </dl>
            </li>
                <li >
                <dl>
                    <dt>
                        <span>
                            <a href="" class="glyphicon glyphicon-phone"><p>客服反馈</p></a>
                        </span>
                    </dt>
                </dl>
            </li>
                <li >
                <dl>
                    <dt>
                        <span>
                            <a href="" class="glyphicon glyphicon-book"><p>关于我们</p></a>
                        </span>
                    </dt>
                </dl>
            </li>
            </ul>
        </menu>
        {% if user_id %}
            <p><a href="{% url 'axfuser:logout' %}">退出登录</a></p>
        {% endif %}
    </div>


    </div>
{% endblock %}